﻿@model RenderingModel
@{ 
    var url = Sitecore.Links.LinkManager.GetItemUrl(Model.Item);
}

<div class="thumbnail well @Model.Rendering.Parameters["CssClass"]">
    <a href="@url">
        @Html.Sitecore().Field("EventImage", new { @class="img-responsive", mw=500, mh=333 })
    </a>
    <div class="caption">
        <h3 class="teaser-heading">@Html.Sitecore().Field("ContentHeading")</h3>
        <p>
            @Html.Sitecore().Field("ContentIntro")
        </p>
        <a href="@url" class="btn btn-default">Read more</a>
    </div>
</div>
