﻿@using events.tac.local.Models
@using TAC.Utils.Helpers

@model EventsList

<!-- [Event List] -->
<div class="content-list newslist">
    <ol class="media-list">
        @foreach (var item in Model.Events)
        {
        <li class="media media-align-middle">
            <div class="media-left">
                @*<a href="Event-Detail.html"><img src="Images/Climbing-the-Face-of-Half-Dome.jpg" alt="Female climber rappellling" width="150" height="100" /></a>*@
                <a href="Event-Detail.html">@item.EventImage</a>
            </div>
            <div class="media-body">
                <h3 class="media-heading">
                    <a href="Event-Detail.html">@item.ContentHeading</a>
                </h3>
                <div class="description">
                    <p>@item.ContentIntro</p>
                </div>
            </div>
            @*<div class="metadata well">June 28, 2016</div>*@
            <div class="metadata well">@item.StartDate</div>
        </li>
        }
    </ol>
</div>
<!-- [Event List] -->

@Html.Pager(Model.PageSize, Model.TotalResultCount)
